.faqs-accordion {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    background-color: whitesmoke;
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;

    overflow: hidden;
}

.faqs-accordion-item {
    border-bottom: 1px solid #ddd;
}

/* .faqs-accordion-item:last-child {
    border-bottom: none;
} */

.faqs-accordion-header {
    /* background-color: #f1f1f1; */
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faqs-accordion-body {
    padding: 10px;
    /* background-color: #fff; */
}

.faqs-accordion-header h3 {
    font-weight: normal;
}