/* @import url('./faqs.css'); */
@import url('./accordion.css');

:root {
  --primary: #111926;
  --white: #fff;
  --background: #f8f8ff;
  --gray-border: #d3d3d3;
  --text: #262626;
  --like: #ff3040;
  --btn-pink: #ff8c00d9;
  --btn-green: #009900;
  --btn-dark-green: #003300;
  --banner-color: #ebebeb;
  --separator-color: #e8e7e2;

  /* --medium-body-font: font-family: "Charter", Georgia, Cambria, "Times New Roman", Times, serif;
  --medium-ui-font: font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --medium-bd-font-size: 21px;
  --medium-bd-line-height: 1.58;
  --medium-bd-color: #1a1a1a; */
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Charter", Georgia, Cambria, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

.main-container {
  /* Added */
  /* max-width: 1400px; */
  margin: auto;
  width: 100%;
}

/* .layout {
  padding: 10px;
} */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72vw;
}

.nav-start {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-end {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.navbar-container button {
  border-radius: 4px;
  padding: 4px 15px;
  color: var(--white);
  cursor: pointer;
}

.navbar-container .logo {
  background-color: var(--btn-green);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  /* padding: 0.7rem; */
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  letter-spacing: 0.2rem;
  margin-right: 0.5rem;
}

.navbar-container .nav {
  background-color: transparent;
  /* color: #324d67; */
  font-size: 15px;
  font-weight: 500;
  color: var(--btn-dark-green);
  margin-right: 2px;
}

.navbar-container .auth {
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  background: var(--btn-green);
  padding: 0.5rem 1.25rem;
}

/* #db8616 */
.nav:hover {
  color: var(--white);
}

/* .auth:hover {
  background-color: #666666;
  color: var(--white);

} */

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.cart-icon {
  font-size: 25px;
  color: #808080;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  color: #324d67;

  color: #324d67;
}

.product-card:hover {
  transform: scale(1.1, 1.1);
}

.product-image {
  border-radius: 15px;
  background-color: var(--banner-color);
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.app-wrapper {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

.video-banner-container {
  padding: 100px 40px;
  margin-top: 20px;
  margin-bottom: 2.5rem;
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  position: relative;
  /* overflow: hidden; */
  height: 500px;
  width: 100%;
  line-height: 0.9;
}

.video-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-banner__overlay iframe {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.hero-banner-container {
  padding: 100px 40px;
  margin-top: 60px;
  border-radius: 0.5rem;
  position: relative;
  height: 500px;
  line-height: 0.9;
}

.time-line-container {
  background-color: #1b1717;
  border-radius: 4px;
  position: relative;
  height: 200px;
  line-height: 0.9;
  padding-left: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.time-line-container .content {
  margin-left: auto;
  margin-right: auto;
  width: 72vw;
  height: 100%;
  position: relative;
}

.time-line-container .content button {
  position: absolute;
  bottom: 10px;
  /*  */
  border-radius: 4px;
  padding: 13px 18px;
  background-color: var(--btn-green);
  color: var(--white);
  border: none;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  width: 342px;
}

.time-line-container .content p {
  position: absolute;
  bottom: 60px;
  /*  */
  color: var(--white);
  line-height: 1.3;
  margin-top: 80px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 342px;
  text-align: center;
}

.time-line-container .content h2 {
  padding-top: 20px;
  width: 342px;
  text-align: center;
  color: var(--white);
}

.time-line-body {
  margin-left: auto;
  margin-right: auto;
  width: 72vw;
}

.time-line-body .item {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
}

.time-line-body .item .date {
  width: 130px;
  text-align: center;
}

.time-line-body .item .time-line-btn {
  width: 150px;
  text-align: center;
}

.time-line-body .item .details {
  width: calc(72vw - 240px);
  text-align: center;
}

.time-line-body .item .date .month {
  font-size: 1rem;
  width: 55px;
}

.time-line-body .item .date .number {
  font-size: 42px;
  font-weight: 800;
  width: 55px;
}

.time-line-body button {
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 800;
  background-color: var(--btn-green);
  color: var(--white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

.item .details .words {
  text-align: left;
}

.item .details .words .main-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.item .details .words .sub-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.line-container {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  overflow: hidden;
}

.line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--separator-color);
  animation: moveAcross 2s linear infinite;
}

.banner-cover {
  background-image: url("../public/img/DonaldTrump.avif");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}

/* .banner-cover {
  background-image: url("../public/img/Ticket2Banner.avif");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
} */

.hero-banner-container .beats-solo {
  font-size: 20px;
}

.hero-banner-container button {
  border-radius: 4px;
  padding: 13px 18px;
  background-color: var(--btn-green);
  color: var(--white);
  border: none;
  margin-top: 80px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}

.hero-banner-container h1 {
  color: var(--white);
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}

.desco {
  position: absolute;
  bottom: 7%;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 56px;
  align-self: flex-end;
}

.sub-heading {
  margin-top: 40px;
  text-transform: uppercase;
}

.heading-h2 {
  color: #282828;
  text-align: left;
  font-size: 36px;
  font-weight: 800;
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: var(--btn-pink);
  border-radius: 15px;
  line-height: 1;
  color: whitesmoke;
  width: 100%;
  margin-top: 42px;
}

.ticket-banner-cover {
  padding: 100px 40px;
  background-image: url("../public/img/Ticket2Banner.avif");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 42px;
}

.conferences-banner-cover {
  width: 100%;
  margin-top: 84px;
  /* margin-bottom: 84px; */

  justify-content: center;
  border-radius: 0.375rem;
  align-items: center;
  height: 400px;

  display: flex;
  position: relative;
}

.conferences-banner-cover button {
  margin-top: 10px;
}

.conferences-banner-left {
  padding-bottom: 250px;
  padding-top: 250px;
  flex: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;

  position: relative;
}

.conferences-banner-right {
  padding-bottom: 250px;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  padding-top: 250px;
  flex: 1;
  background-image: url("../public/img/Interviews.webp");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.conferences-banner-center {
  position: absolute;
  width: 500px;
  /* text-align: center; */
  color: white;
  transform: translate(5%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  /* Ensures it's above the child elements */
  /* background: rgba(255, 255, 255, 0.8); */
  /* Optional: a slight background to make the text more readable */
  padding: 20px;
  /* Optional: for some internal padding */
}

.conferences-banner-center h1 {
  text-transform: uppercase;
}

.trending-banner-cover {
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.trending-header-img {
  background-image: url("../public/img/lakeview-elegance.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 0.375rem;
  margin-right: auto;
  margin-left: auto;
}

/* .trending-banner-img {
  trending-banner
  0707690954,0773884018,0777659193
} */
/* InterBanner */

.inter-banner-cover {
  width: 100%;

  /* background-color: #f8dede; */
  justify-content: center;
  align-items: center;
  height: 400px;

  display: flex;
  position: relative;
}

.inter-banner-cover button {
  margin-top: 10px;
}

.inter-banner-left {
  padding-bottom: 250px;
  padding-top: 250px;
  flex: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.inter-banner-right {
  padding-bottom: 250px;
  padding-top: 250px;
  flex: 1;
  background-image: url("../public/img/Interviews.webp");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.inter-banner-center {
  position: absolute;
  width: 500px;
  /* text-align: center; */
  color: white;
  transform: translate(-120%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  /* Ensures it's above the child elements */
  /* background: rgba(255, 255, 255, 0.8); */
  /* Optional: a slight background to make the text more readable */
  padding: 20px;
  /* Optional: for some internal padding */
}

.inter-banner-center h1 {
  text-transform: uppercase;
}

.inter-banner-cards {
  position: absolute;
  width: 1000px;
  /* text-align: center; */
  /* color: red; */
  transform: translate(-50%, -50%);
  top: 80%;
  left: 80%;
  z-index: 4;
  /* Ensures it's above the child elements */
  /* background: rgba(255, 255, 255, 0.8); */
  /* Optional: a slight background to make the text more readable */
  padding: 20px;
  /* Optional: for some internal padding */
}

.inter-banner-content {
  height: 100%;
  width: 100%;
  color: red;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.submit-btn button {
  padding: 0 14px;
  /* border: 1px solid; */
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 1rem;
  font-weight: 700;
  height: 44px;
  width: 11rem;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--btn-green);
}

.email-input {
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  background: rgb(255, 255, 255);
  font-family: "Inter", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-size: 14px;
  color: #999999;
  width: 100%;
  height: 38px;
}

.interviews-banner-cover h1 {
  color: black;
}

.interviews-banner-cover {
  width: 100%;
  margin-top: 84px;
  background-color: #f8dede;

  justify-content: center;
  align-items: center;
  height: 400px;

  display: flex;
  position: relative;
}

.interviews-banner-cover .wrapper {
  width: 72%;
  background-color: greenyellow;
  height: 100%;
  /* margin-top: auto;
  margin-bottom: auto; */
  /* position: relative; */
}

.interviews-banner-cover .wrapper-content {
  /* background-color: green; */
  width: 35%;
  /* margin-bottom: 60px; */
  /* height: 100%; */
  margin-top: auto;
  margin-bottom: auto;
}

.interviews-banner-cover button {
  margin-top: 10px;
}

/* .interviews-banner-left::after {
  position: absolute;
  top: 0;
  right: -50px;
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 1;
} */

.interviews-banner-left {
  padding-bottom: 250px;
  padding-top: 250px;
  flex: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.interviews-banner-right {
  padding-bottom: 250px;
  padding-top: 250px;
  flex: 1;
  background-image: url("../public/img/Interviews.webp");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.interviews-banner-center {
  position: absolute;
  width: 500px;
  /* text-align: center; */
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  /* Ensures it's above the child elements */
  /* background: rgba(255, 255, 255, 0.8); */
  /* Optional: a slight background to make the text more readable */
  padding: 20px;
  /* Optional: for some internal padding */
}

.interviews-banner-center h1 {
  text-transform: uppercase;
}

.subscribe {
  font-weight: bold;
  font-size: 14px;
  /* color: rgb(67, 67, 67); */
  color: var(--white);
  border-style: none;
  background: var(--btn-green);
  width: 30%;
  height: 100%;
  cursor: pointer;
  height: 38px;
  border-radius: 8px;
}

.subscribe-text {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  font-size: 16px;
  color: black;
  margin-top: 1rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto,
.blog-list-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.blog-list-more {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.banner-desc button {
  border-radius: 6px;
  padding: 16px 16px;
  background-color: green;
  color: var(--white);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 60px;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 18px;
}

.footer-banner-image {
  position: absolute;
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner-desc .right p {
  font-size: 18px;
}

.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: var(--white);
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  color: black;
  text-align: center;
  margin-top: 45px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* background-color: whitesmoke; */
  background-color: var(--btn-pink);
}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.video-text {
  color: black;
  margin-bottom: 30px;
}

.video-text .icons {
  font-size: 25px;
  display: flex;
  gap: 10px;
}

.about-page h1,
.mission-page h1 {
  text-align: left;
  font-size: 2rem;
  color: #324d67;
  padding: 10px 0px;
  margin-top: 13px;
}

.about-page h2,
.mission-page h2 {
  text-align: left;
}

.about-page p,
.mission-page p {
  text-align: left;
}

.about-page .login {
  margin-top: 30px;
}

.about-page p {
  font-size: 16px;
  margin-top: 0px;
  line-height: 27px;
}

.about-page h2 {
  letter-spacing: 2.8px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mission-page ul,
.mission-page ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.mission-page span {
  font-size: 15px;
  font-weight: 500;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--banner-color);
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
}

.product-detail-image {
  border-radius: 15px;
  background-color: var(--banner-color);

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product-detail-image:hover {
  background-color: #f02d34;
}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: var(--banner-color);
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: #324d67;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--white);
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: var(--white);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.maylike-products-wrapper {
  margin-top: 120px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  background-color: var(--white);
  min-height: 60vh;
}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

@media (max-width: 760px) {
  .hide {
    display: none;
  }

  /* .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    pointer-events: all;
    gap: 0.25rem;
    flex-direction: column;
    border: 1px solid var(--gray-border);
  }

  .burger-menu svg {
    height: 1.25rem;
    stroke: var(--link-gray);
    width: 1.25rem;
  } */
}

@media screen and (max-width: 800px) {
  .hide {
    display: none;
  }

  .hero-banner-container {
    height: 560px;
  }

  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }

  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .banner-desc .left p {
    margin: 18px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;
  }

  .hero-banner-container h1 {
    font-size: 50px;
  }

  .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }

  .desc {
    bottom: 60px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;
  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    width: 150px;
  }

  .buttons .buy-now {
    width: 150px;
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;
  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }

  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.must-watch-videos .card {
  width: 32%;
  background-color: rgb(247 244 239);
}

.trending-banner-cover .card {
  width: 23%;
}

.must-watch-videos .card__preview {
  height: 9rem;
  margin-bottom: 1.25rem;
}

.trending-banner-cover .card__preview {
  height: 13rem;
  border-radius: 0.375rem;
}

.trending-banner-cover .preview__text h3 {
  margin-top: 5px;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  margin-left: 0.5rem;
}

.must-watch-videos .preview__text h3 {
  margin-top: 5px;
  line-height: 22.556px;
  font-size: 18px;
  font-weight: 700;
}

.must-watch-videos .preview__text span,
.trending-banner-cover .preview__text p,
.trending-banner-cover .preview__text .card__bottom {
  display: none;
}

.must-watch-videos .preview__text {
  padding: 1rem;
}

.trending-banner-cover .preview__text {
  padding: 1rem 0;
  background-color: rgb(247 244 239);
}

.trending-banner-cover .preview__text span {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #282828;
  border-radius: 999px;
  width: fit-content;
}

.trending-banner-cover .mx-auto {
  width: 100%;
}

.community-banner-cover .mx-auto button,
.trending-banner-cover .mx-auto button {
  margin: 0 20px;
}

.community-content {
  border-radius: 0.375rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.community-card {
  background-color: #f5f5f5;
  border: 1px solid var(--gray-border);
  border-radius: 0.375rem;
  padding: 2rem 1rem;
  cursor: pointer;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  margin-top: 1rem;
}

.community-card .profile {
  margin-top: 1rem;
  display: flex;
}

.community-card span {
  /* border: 1px solid rgb(255, 216, 216); */
  padding: 1rem;
  border-radius: 0.375rem;
  flex: 1;
}

.community-card .profile-img {
  width: 30px;
  /* Adjust the size as needed */
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-card .profile-img .img {
  background-image: url("../public/img/profile-lady.avif");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text .profile-name {
  /* profile-name */
  font-weight: bold;
  font-size: 15px;
}

.profile-text {
  margin-left: 0.5rem;
  font-size: 12px;
}

.sponsors-banner-cover {
  border-radius: 0.375rem;
  width: 100%;
  margin-top: 1rem;
  padding: 3rem 1rem;
  background-color: rgb(255, 216, 216);
}

.grow-svg {
  width: 250px;
  height: 100px;
}

.top-sponsor {
  display: flex;
  justify-content: center;
}

.sponsors {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 2rem 0.5rem;
}

.sponsor {
  width: 100%;
  height: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.cls-1 {
  fill: #fff;
}

/* padding: 100px 40px;
  margin-top: 60px;
  background-color: red;
  border-radius: 0.5rem;
  position: relative;
  height: 500px;
  line-height: 0.9;
} */

.sponsors-banner-cover .text-center {
  font-size: 18px;
  margin: 5px 0;
}

.trending-banner-cover .text-center {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__preview {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 1.25rem; */
}

.card__preview .img {
  background-image: url("../public/img/lakeview-elegance.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.2s;
}

.interview-img {
  margin-top: 30px;
  /* background-image: url("../public/img/lakeview-elegance.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;

  display: flex;
  justify-content: space-between;
}

.card__preview__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(131, 127, 127, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card__preview__overlay {
  opacity: 1;
}

.card:hover .card__preview .img {
  transform: scale(1.1);
}

.preview__text h3 {
  color: #282828;
}

.preview__text p {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(71 70 69);
  /* display: none; */
}

.card__address {
  margin-top: 0.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.card__price {
  display: flex;

  background-color: #282828a1;
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  left: 1.25rem;
  font-weight: bold;
}

.card__price svg {
  width: 14px;
  height: 13px;
  display: block;
}

.card__time {
  color: var(--white);
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  padding-top: 1px;
  padding-left: 2px;
  vertical-align: center;
}

.card__content {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.card__bottom {
  margin-top: 20px;
  color: #84868a;
  letter-spacing: 0.868px;
  font-weight: 500;
  font-size: 11px;
}

.card__buttons {
  display: flex;
  gap: 0.5rem;
}

.card__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn svg {
  height: 2rem;
  width: 2rem;
  stroke: var(--text);
  stroke-width: 1.5px;
}

.card__btn--like svg {
  stroke: var(--like);
  fill: var(--like);
}

/* Deleted */
/* LOGIN PAGE */

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  gap: 1rem;
  /* max-width: 30rem; */
  min-width: 18rem;
  width: 100%;
  padding: 3rem 2rem;
  height: fit-content;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.team-card .card-item {
  flex: 1;
  /* background-color: #ffffff; */
  padding: 10px;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}

.team-card .card-item h2 {
  line-height: 44px;
  font-size: 47px;
  font-weight: 800;
}

.team-card .card-item p {
  line-height: 1.5rem;
  font-style: 1rem;
}

.team-card .separator {
  width: 10px;
  /* Width of the line */
  background-color: var(--white);
  /* Color of the line */
  height: 100%;
}

.team-card .btn-div {
  display: flex;
  width: 100%;
}

.team-card button {
  flex-grow: 1;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 1rem;
  font-weight: 700;
  /* height: 44px; */
  border-radius: 6px;
  color: var(--white);
  letter-spacing: 4.8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--btn-green);
  /* background-color: #007bff; */
  /* color: "white";
  text-align: center;
  padding: 20px; */
}

.team-card {
  padding: 2.5rem;
  border-radius: 0.375rem;
  background: whitesmoke;
  gap: 10px;
  display: flex;
  align-items: stretch;
  margin-top: 2rem;
}

.team-card button {
  display: block;
  min-width: 100%;
}

.about-text {
  padding-left: 90px;
  padding-right: 90px;
  font-family: "Inter", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-size: 18px;
  color: #324d67;
}

.card-item li {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  list-style: none;
  gap: 0.75rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

.card-item li svg {
  color: var(--btn-green);
}

.form-welcome {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.form-welcome-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-welcome-row h1 {
  font-size: 1.6rem;
}

.my-form__button {
  background-color: var(--primary);
  color: var(--white);
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.my-form__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--secondary);
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: smaller;
}

.my-form__actions a {
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.my-form__actions a:first-child {
  text-align: left;
}

.my-form__actions a:last-child {
  text-align: right;
}

.my-form__actions a:hover {
  text-decoration: underline;
}

.my-form__row {
  display: flex;
  justify-content: space-between;
}

.my-form__signup {
  display: flex;
  justify-content: center;
}

.my-form__signup a {
  color: var(--primary);
  font-weight: 800;
  text-decoration: none;
  font-size: 1.125rem;
}

.my-form__signup a:hover {
  text-decoration: underline;
}

.text-field input {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  height: 3rem;
  letter-spacing: 0.03rem;
  border: 1px solid var(--secondary);
  background-color: transparent;
  outline: none;
  transition: 0.25s;
  border-radius: 0.5rem;
  text-indent: 1.25rem;
  margin-top: 0.25rem;
}

.text-field label:focus-within {
  color: var(--primary);
}

.text-field {
  position: relative;
}

.text-field svg {
  position: absolute;
  right: -0.125rem;
  bottom: -0.25rem;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.text-field input:focus {
  border: 1px solid var(--primary);
}

.text-field input:focus + svg {
  stroke: var(--primary);
}

.text-field label {
  color: var(--secondary);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  z-index: 10;
}

/* .google-img {
  background-image: url("../public/img/google.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.2s;
  transition: all 0.2s ease-out;
} */

@media (max-width: 840px) {
  .form-wrapper {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .info-side {
    display: none;
    padding: 3rem 3rem 3rem 2rem;
  }
}
